<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ChatRooms.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/startwebcam.js"></script>
    <script src="/RecordToServer.js"></script>
    <script src="/ReadableStream.js"></script>
  @*   <script src="/MediaSourceHandle.js"></script> *@
  @*   <script src="/MediaSourceObjectURL.js"></script> *@
    <script src="/MediaStream.js"></script>
</body>

</html>
